.env 
# Ignore master key for decrypting credentials and more.
/config/master.key
.env
/log/*.log

/.env

development.log
.DS_Store

project_generation/log/development.log
project_generation/tmp/cache/bootsnap/compile-cache-iseq/f5/5fb7563d99aa2b

# 1. Ignore logs
echo "/log/*.log" >> .gitignore

# 2. Un-stage any logs you may have committed
git rm --cached -r log
git commit -m "Stop tracking log files"