.env 
# Ignore master key for decrypting credentials and more.
/config/master.key
.env
/log/*.log
development.log

/.env

# 1. Ignore logs
echo "/log/*.log" >> .gitignore

# 2. Un-stage any logs you may have committed
git rm --cached -r log
git commit -m "Stop tracking log files"